<head>
  	{% load staticfiles %}
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
	<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  	<script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
	<div class="row">
		<div class="col-lg-12" style="margin-left: 25px">
			<h1>TP-fjøset</h1>
			<div class="container">
				<div class="panel-group" id="accordion">
					{% for animal in ark %}
						<div class="panel panel-default">
							<div class="panel-heading" style="background: rgb(10, 36, 54); color: white">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#ac2ordion" href="#{{animal.id}}">
										{{ animal.name }}
									</a>
								</h4>
							</div>
							<div id="{{animal.id}}" class="panel-collapse collapse">
								<div class="panel-body">
									<strong>Navn:</strong>
									{{ animal.name }}
									<br>
									<strong>Art:</strong>
									{{ animal.get_species_display }}
									<br>
									<strong>Alder:</strong>
									{{ animal.age }}
									<br>
									<strong>Kjønn:</strong>
									{{ animal.get_gender_display}}
									<br>
									<strong>Beskrivelse:</strong>
									{{ animal.description }}
									<br>
									<form method="post">
										{% csrf_token %}
										<button type="submit" name="delete" value="{{ animal.id }}" style="background: rgb(154, 25, 21); color: white">Slett</button>
									</form>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
			<form method="post">
				{% csrf_token %}
				<table class="fill">
					{{ form }}
				</table>
				<input class="g-button" type="submit" value ="Lagre">
			</form>
		</div>
	</div>
</body>